<div class="about">
  <h1>ABOUT ME</h1>
  <article class="about">
    <section class="about">
      <p>
        I am a software developer specializing in full-stack Javascript, with experience writing HTMl and CSS as well. I am currently located in Seattle, WA.
      </p>
      <p>
        I completed my bachelor's degree in Political Science at the University of Washington, Seattle Campus. I initially worked in sales out of college, but started learning to code in my spare time and enjoyed it so much I decided to switch career paths.
      </p>
      <p>
        I am a graduate of the Advanced Software Development in Full-Stack Javascript course at <a href="https://www.codefellows.org/" class="about" target="_blank">Code Fellows</a>, where I was introduced to a number of different libraries and tools and learned to write clean, efficient code using best practices.
      </p>
      <p>
        Find me on:
        <a href="https://www.linkedin.com/in/keiran-beaton-54772599" class="about" target="_blank"><i class="fa fa-linkedin-square fa-1x"></i></a>
        <a href="https://github.com/Keiranbeaton" class="about" target="_blank"><i class="fa fa-github-square fa-1x"></i></a>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        keiranbeaton@gmail.com
      </p>
    </section>
    <section class="about">
      <img src="../../assets/profile-picture.jpg" class="about"/>
    </section>
  </article>

</div>
