@import "vendor/bootstrap-stylesheets/_bootstrap.scss";
@import "vendor/font-awesome-4.6.3/scss/font-awesome.scss";
@import "vendor/normalize-scss/sass/_normalize.scss";
@import "themes";
@import "nav";


html, body {
  height: 100%;
  width: 100%;
  background-color: $kb-background;
}

header {
  margin-bottom: 20%;
}
